/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,400italic);

/* Tags */
html body {
	background-color: #f7f7f7;
	color: #212121;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	margin: 0px;
}

html body #app {
	background-color: #ffffff;
	margin: auto;
	overflow: hidden;
	max-width: 728px;
	min-width: 320px;
	padding: 0px 20px;
}

html body #app a {
	color: #039be5;
	text-decoration: none;
}

html body #app h1 {
	color: #757575;
	font-size: 34px;
	font-weight: 300;
	margin: 20px 0px;
}

html body #app p {
	margin: 10px 0px;
}